@page
@model ASP.NET_Core_Razor.Pages.Engagement.CreateModel
@using ASP.NET_Core_Razor.API;
@using ASP.NET_Core_Razor.Model;
@{
    ViewData["Title"] = "Create Engagements";
    //Model.employeeList = Model.employeeAPI.ReadEmployees();
}
<div>
    <form method="post">
        
        <div class="form-group">
                <label asp-for="createEngagements.name" class="control-label"></label>
                <input asp-for="createEngagements.name" class="form-control" />
                <span asp-validation-for="createEngagements.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createEngagements.description" class="control-label"></label>
                <input asp-for="createEngagements.description" class="form-control" />
                <span asp-validation-for="createEngagements.description" class="text-danger"></span>
            </div>
            <div class="form-group">
        <select asp-for="employeeDD">
            @foreach (EmployeeClass employee in Model.employeeList)
            {
                <option value="@employee.id">@employee.name</option>
            }
        </select>
        </div>
            <div class="form-group">

         <select asp-for="clientDD">
            @foreach (ClientClass client in Model.clientList)
            {
                <option value="@client.id">@client.name</option>
            }
        </select>
        </div>
        <button type="submit">Register Engagement</button>
    </form>
</div>

