{% extends 'base.html' %}   
{% block title %} Employee Homepage {% endblock  %}
{% block content %}
    <div class="container">
        <h1>Employee List</h1>
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 350px;">Id</th>
                <th style="width: 350px;">Name</th>
                <th> </th>
            </tr>
        </thead>
            {% for employee in employeeList %}
                <tr>
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>
                        <form method="post" action="{% url 'Employee_page'%}">
                            {% csrf_token %}
                            <a href="edit/{{employee.id}}">Edit</a> |
                            <input type="hidden" value="{{employee.id}}" name="employee_id" id="employee_id">
                            <button type="submit" class="text-look-a-like">Delete</button>
                        </form>
                    </td> 
                </tr>        
            {% endfor %}
        </table>
    </div>
{% endblock  %}