@page
@model ASP.NET_Core_Razor.Pages.ClientModel
@{
    ViewData["title"] = "Client List ";
}
<div> 
    <h1>Client</h1>
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>client ID</td>
                <td>client NAME</td>
            </tr>
        </table>
    </div>
</div>
